{% extends '@WebProfiler/Collector/translation.html.twig' %}

{% block panel %}

    {{ parent() }}

    <h3>Translation Editor</h3>
    <p>
        If you find any problems with the translation editor, open an issue in the
        <a href="https://github.com/jbtronics/translation-editor-bundle" target="_blank">GitHub repository</a>.
    </p>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.JBTRONICS_TRANSLATION_EDITOR_EDIT_URL = '{{ path('jbtronics_translation_editor_edit') }}';
        {% include "@JbtronicsTranslationEditor/profiler/scripts.js" %}
    </script>

{% endblock %}

{% macro render_table(messages, is_fallback) %}
    <table>
        <thead>
        <tr>
            <th>Locale</th>
            {% if is_fallback %}
                <th>Fallback locale</th>
            {% endif %}
            <th>Domain</th>
            <th>Times used</th>
            <th>Message ID</th>
            <th>Message Preview</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td class="font-normal text-small nowrap">{{ message.locale }}</td>
                {% if is_fallback %}
                    <td class="font-normal text-small nowrap">{{ message.fallbackLocale|default('-') }}</td>
                {% endif %}
                <td class="font-normal text-small text-bold nowrap">{{ message.domain }}</td>
                <td class="font-normal text-small nowrap">{{ message.count }}</td>
                <td>
                    <span class="{{ message.id|length < 64 ? 'nowrap' }}">{{ message.id }}</span>

                    {% if message.transChoiceNumber is not null %}
                        <small class="newline">(pluralization is used)</small>
                    {% endif %}

                    {% if message.parameters|length > 0 %}
                        <button class="btn-link newline text-small sf-toggle" data-toggle-selector="#parameters-{{ loop.index }}" data-toggle-alt-content="Hide parameters">Show parameters</button>

                        <div id="parameters-{{ loop.index }}" class="hidden">
                            {% for parameters in message.parameters %}
                                {{ profiler_dump(parameters, maxDepth=1) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>
                <td data-message-block="{{ message.id }}">
                    {# Retrieve current translation (this might be different to the version at time of request) #}
                    {% set current_translation = message.id|trans({}, message.domain, message.locale)  %}
                    <span data-message-span="{{ message.id }}"
                          {% if current_translation != message.translation %}
                              title="Current translation"
                          {% endif %}
                    >{{ current_translation }}</span>

                    {# If current translation differs from the one in the request, then show old version #}
                    {% if current_translation != message.translation %}
                        <button class="btn-link newline text-small sf-toggle" data-toggle-selector="#original-trans-{{ loop.index }}"
                                style="font-size: 10px !important;"
                                data-toggle-alt-content="Hide original translation at time of request">Show original translation at time of request</button>
                        <div id="original-trans-{{ loop.index }}" class="hidden">
                            <span title="Translation at time of request">{{ message.translation }}</span><br>
                        </div>
                    {% endif %}
                </td>
                <td><button class="btn btn-sm" onclick="showEditField('{{ message.id }}', '{{ message.locale }}', '{{ message.domain }}');">Edit</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}


{# We need this (seemingly redundant) blocks, to ensure our macro is used, and not the original one #}
{% block defined_messages %}
    {{ _self.render_table(messages_defined) }}
{% endblock %}

 {% block fallback_messages %}
     {{ _self.render_table(messages_fallback, true) }}
 {% endblock %}

{% block missing_messages %}
    {{ _self.render_table(messages_missing) }}
{% endblock %}